:root {
  --background_color: white;
  --text_color: black;
  --accent-color: rgb(0, 229, 255);
  --inversion: invert(0);
  --speaker_image: url('../img/sound-pngrepo-com.png');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background_color: rgb(0, 0, 0);
    --text_color: rgb(255, 255, 255);
    --accent-color: rgb(0, 229, 255);
    --speaker_image: url('../img/sound-pngrepo-com.png');
    --inversion: invert(1);
  }
}

@font-face {
  src: url(../fonts/LexendDeca-Regular.ttf);
  font-family: Lexend_Deca;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--text_color);
  background-color: var(--background_color);

}

.viewpane,
.viewpane_visible {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}

.viewpane_visible {
  display: block;
}

/* Text input area */
.speakcontainer {
  position: relative;
  width: 100%;
  height: fit-content;

}

#textput {
  position: relative;
  padding: 0.3rem;
  all: unset;
  width: 95vw;
  margin-left: 2.5vw;
  margin-right: auto;
  min-height: 11rem;
  height: 13rem;
  max-height: 15rem;
  font-size: 1.1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border: 0.2rem solid var(--accent-color);
  border-radius: 0.4rem;
  text-align: center;
  box-shadow: 0rem 0rem 0rem 0rem var(--text_color);
}


#textput:focus {
  box-shadow: 0rem 0.1rem 0.6rem 0rem var(--text_color);
}

.mid-space {
  /* contains history and favourites container and lets page flow correctly on firefox */
  position: relative;

}

.history_container {
  position: relative;
  width: 100%;
  height: fit-content;
}

#history {}

.history_element {
  position: relative;
}

.favourites_container {
  position: relative;
  width: 100%;
  height: fit-content;
}

.favourites_container h2,
.history_container h2 {
  text-align: center;
}




/* 
  Main speach button
*/

@keyframes wiggle {
  0% {
    rotate: z 0deg;
  }
  33% {
    rotate: z 15deg;
  }
  66% {
    rotate: z -15deg;
  }
  100% {
    rotate: z 0deg;
  }
}

.speak_button {
  all: unset;
  position: fixed;
  bottom: 0.5rem;
  width: 90vw;
  height: 3.5rem;
  left: 5vw;
  background-color: rgb(0, 229, 255);
  box-sizing: border-box;
  text-align: center;
  font-size: 1.7rem;
  border-radius: 0.6rem;
  text-shadow: 0rem 0rem 0.3rem var(--background_color);
  box-shadow: 0rem 0rem 0rem 0rem var(--text_color);
  cursor: pointer;
  transform: translateY(0rem);
  transition: transform 300ms;
}

.speak_button:hover {
  box-shadow: 0rem 0.1rem 0.5rem 0rem var(--text_color);
}

.speak_button:active {
  transform: translateY(0.2rem);
  transition: transform 0ms;
}

.speak_button_label {
  line-height: auto;
  text-align: center;
  font-size: 2rem;
  font-family: Lexend_Deca;
  width: calc(100% - 3.5rem);
  white-space: nowrap;
  font-family: Lexend_Deca;
}

.speak_button_icon {
  height: 3.5rem;
  width: 3.5rem;
  position: absolute;
  top: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: var(--speaker_image);
  filter: var(--inversion);
  animation: wiggle 500ms ease 0ms 0;

}
.speak_button:hover .speak_button_icon{
  animation: wiggle 500ms ease 0ms infinite;
}
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
  .mid-space {
    /* contains history and favourites container and lets page flow correctly on firefox */
    position: relative;
    height: calc(100vh - 3.5rem - 15rem);
    width: 100%;
  }

  .history_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
  }

  .favourites_container {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
  }
}