:root {
  --background_color: white;
  --text_color: black;
}

@font-face {
  src: url(../fonts/LexendDeca-Regular.ttf);
  font-family: Lexend_Deca;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--text_color);
  background-color: var(--background_color);
}

.viewpane,
.viewpane_visible {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}

.viewpane_visible {
  display: block;
}

#history {
  position: relative;
  width: 100%;
  max-height: 200vh;
  margin: 0;
  box-sizing: border-box;
  height: 9rem;
}

.histocontainer {
  position: relative;

}

.speakcontainer {
  position: relative;
  width: 100%;
  height: fit-content;

}

#textput {}

#forceblurt {}

.historite {
  position: relative;
}


/* 
  Main speach button
*/
.speak_button {
  all: unset;
  position: fixed;
  bottom: 0.5rem;
  width: 90vw;
  height: 3.5rem;
  left: 5vw;
  background-color: rgb(0, 229, 255);
  box-sizing: border-box;
  text-align: center;
  font-size: 1.7rem;
  border-radius: 0.4rem;
}

.speak_button_label {
  line-height: auto;
  text-align: center;
  font-size: 2rem;
  font-family: Lexend_Deca;
  width: calc(100% - 3.5rem);white-space: nowrap;
}

.speak_button_icon {
  height: 3.5rem;
  width: 3.5rem;
  position: absolute;
  top: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/sound-pngrepo-com.png');

}